@import "assets/Raleway.css";

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1db5a3;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.App {
  text-align: center;
  min-height: 92vh;
  display: flex;
  position: relative;
  z-index: 0;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  padding: 0px;
}

.body {
  font-family: Raleway;
}

.App-link {
  color: #61dafb;
}

.custom-nav {
  background-color: white;
  box-shadow: 0px 0px 7px black;
  font-family: Raleway;
}

#nav-brand {
  letter-spacing: 1vw;
  font-weight: 300;
  font-size: 1.5em;
}

.nav-button {
  font-weight: 200;
  border: 1px solid black;
  color: black !important;
  font-size: 1.25em;
}

.nav-button:hover {
  background-color: #1db5a3;
  /*background-color: #4f000b;*/
  /*background-color: #2b2b2b;*/
  color:white !important;
  border-color:#888;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.home-bg {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.strong-title {
  color: white;
  font-family: Raleway;
  font-weight: 300 !important;
}

.light-title {
  color: white;
  font-family: Raleway;
  font-weight: 200 !important;
}

.jumbo-card {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.display-1 {
  font-size: calc(1.725rem + 5.7vw) !important;
}
.display-4 {
  font-size: calc(1.375rem + 1.5vw) !important;
}