@import "assets/Raleway.css";
@import "assets/Open_Sans.css";

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1db5a3;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.App {
  text-align: center;
  min-height: 92vh;
  display: flex;
  position: relative;
  z-index: 0;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  padding: 0px;
}

.body {
  font-family: Raleway;
}

.App-link {
  color: #61dafb;
}

.custom-nav {
  background-color: white;
  box-shadow: 0px 0px 7px black;
  font-family: Raleway;
}

#nav-brand {
  letter-spacing: 1vw;
  font-weight: 300;
  font-size: 1.5em;
}

.nav-button {
  font-weight: 200;
  border: 1px solid black;
  color: black !important;
  font-size: 1.25em;
}

.nav-button:hover {
  background-color: #26ceba;
  /*background-color: #4f000b;*/
  /*background-color: #2b2b2b;*/
  color:white !important;
  border-color:#888;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.home-bg {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.strong-title {
  color: white;
  font-family: Raleway;
  font-weight: 300 !important;
  text-shadow: 1px 1px 1px black;
}

.light-title {
  color: white;
  font-family: Raleway;
  font-weight: 200 !important;
}

.jumbo-card {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.display-1 {
  font-size: calc(1.725rem + 5.7vw) !important;
}

.display-2 {
  font-size: calc(1.580rem + 4.65vw) !important;
}

.display-3 {
  font-size: calc(1.375rem + 3.6vw) !important;
}

.display-4 {
  font-size: calc(1.000rem + 1.75vw) !important;
}

.white-p-text {
  color: white;
  font-family: "Open Sans";
}

.button-light {
  font-family: Raleway;
  font-weight: 100 !important;
  background-color: #1db5a3 !important;
  border: 1px #1db5a3 solid !important;
  border-radius: 2px !important;
  font-size: 1.2em !important;
  color: white !important;
}

.button-light:hover {
  background-color: white !important;
  border: 1px black solid !important;
  color:black !important;
}

.button-dark {
  font-family: Raleway;
  font-weight: 100 !important;
  background-color: #2b2b2b !important;
  border: 1px #2b2b2b solid !important;
  border-radius:  2px !important;
  font-size: 1.2em !important;
  color: white !important;
}

.button-dark:hover {
  background-color: white !important;
  color: black !important;
  border: 1px black solid !important;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.vertical-line {
  border-bottom: 1px solid white;
}

.footer-text {
  color: #1db5a3;
  font-size: 1.5em;
  font-family: "Open Sans";
  font-weight: 100;
}

.footer-text:hover {
  text-decoration: none;
  color: gray
}

/* ANIMATIONS */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.fly-in {
  animation: flyIn ease 2s;
  -webkit-animation: flyIn ease 2s;
  -moz-animation: flyIn ease 2s;
  -o-animation: flyIn ease 2s;
  -ms-animation: flyIn ease 2s;
}

@keyframes flyIn {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@-moz-keyframes flyIn {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
  
@-webkit-keyframes flyIn {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
  
@-o-keyframes flyIn {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
  
@-ms-keyframes flyIn {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.test {
  border: 1px black solid !important;
}